<div id="products">
    <header>
        <h2>Profile</h2>
        <label for="">Nombre</label>
        <p>{{user.first_name}}</p>
        <br>
        <br>
        <label for="">Apellido</label>
        <p>{{user.last_name}}</p>
        <br>
        <br>
        <label for="">Correo</label>
        <p>{{user.email}}</p>
    </header>
    
    
    <div class="lista">
        {{#each respuestaInfo.playload}}
        <div class="user-info">
      <span id="userInfo">
      <h2>{{this.title}}</h2>
      <p>price: {{this.price}}</p>
      <button><a href={{../respuestaInfo.linkMold}}{{this.id}}/>Product details</a></button>
      <button>Add to card</button>
      </span>
    </div>
        {{/each}}
    </div>

    <br>
    <footer>
        <button><a href={{respuestaInfo.prevLink}}>prevLink</a></button>
        <button><a href={{respuestaInfo.nextLink}}>nextLink</a></button>
    </footer>
</div>